header h1 img{
    width: 250px;
}

header {
    background-color: gray;

    padding: 20px 0 ;
}

nav li {
    display: inline;
    margin: 0 0 0 20px ;
}
nav a{
text-transform: uppercase;
color: black;
font-weight: bold;
font-size: 22px;
text-decoration: none;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav{
position: absolute;
top: 110px;
right: 0 ;
}

nav a:hover {

color: red;
text-decoration: underline ;
}





.servicos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.servicos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}
.servicos li:hover{

    border-color: red;

}
.servicos li:active{
border-color:purple ;

}

.servicos li:hover h2{
    font-size: 35px;
}


.servicos li img {
    width: 250px;
}
.servico-descricao {
    font-size: 18px;
}
 h2 {
    font-size: 30px;
    font-weight: bold;
}
 .servico-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
 }


footer{
 background-color: gray;
 text-align: center;
 padding: 40px 0;

}

footer img{
    width: 200px;
}
.copyright{
    color: black;
    font-size: 13px;
    margin: 20px 0 0;
}

main{
    width: 920px;
    margin: 0 auto;
}

form {
margin: 40PX 0;
}

form label {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
form input{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}