
body{background-color: red;}
p{text-align:center ;}
h1{text-align: center;}
h2{text-align: center;}
h3{text-align: center;}
h4{text-align: center;}
b{color: black;background-color: aqua;}
i{color: black;background-color: aqua;}
#banner { 
    width: 100%
}